<header class="navigation">
    <a href="/" class="scrollto">
        <img src="../images/BeSports.png" alt="Logotipo">
    </a>
    <nav>
        <ul>
            <li class="scrollto">
                <a href="/profile">Profile</a>
            </li>
            <li class="scrollto">
                <a href="/home">Runs</a>
            </li>
            <li class="scrollto">
                <a href="/sportcenter">sportcenter</a>
            <li class="scrollto">
                <a href="/auth/logout">Logout</a>
            </li>
            </li>
        </ul>
    </nav>

</header>
<div class="back-color">
    <div class="row">
        <div class="col-md-6 margin-toptop">
            <h1 class="margin-top h1-profile h2-profile underline"> Bienvenido {{user.username}}</h1>
        </div>
        <div class="col-md-6 margin-toptop">
            <img src="{{user.profilePicture.path}}"></img>
            <form action="/profile" method="post" enctype="multipart/form-data">
                <input class="profile-boton" type="file" name="phototoupload"><br>
                <input class="profile-boton" type="submit" value="Save"><br>
            </form>
        </div>
        <hr>
    </div>
    <hr>
    <div class="container ">
        <div class="row">
            <h2 class="h2-profile">Estas son las carreras a las que estas apuntad@</H>
                {{#each user.favs}}
                {{>runCard3 this}}
                {{/each}}
        </div>
    </div>
    <hr>
    <h2 class="h2-profile">¿Quieres prepararte para conseguir mejores resultados?</h2>
    <div class="container">
        <div class="row ">
            <div class="col-md-6 margin-toptop">
                <ol id="lista5">
                    <li> <a class="boton"
                            href="https://deporte.uncomo.com/articulo/como-prepararse-para-empezar-con-el-running-5638.html">
                            iniciarse
                            en el Running</a></li>
                    <li><a class="boton" href="https://www.123acorrer.es/Running/entrenamientos/10k-acabar-la-carrera">
                            Prepararse
                            para 10KM</a></li>
                    <li><a class="boton"
                            href="https://correresdevalientes.elmundo.es/ponte-en-forma/como-pasar-de-una-carrera-de-10-km-a-una-media-maraton">
                            Media maratón</a></li>
                    <li><a class="boton"
                            href="https://www.cmdsport.com/running/entrenamiento-running/las-10-claves-para-preparar-un-maraton/">
                            Maratón</a></li>
                </ol>
            </div>
            <div class="col-md-6 margin-top margin-bottom">
                <video src="/public/video/video.mp4" width=480 height=370 autoplay controls
                    poster="/public/images/descarga.jpeg">
                    Lo sentimos. Este vídeo no puede ser reproducido en tu navegador.<br>
                    La versión descargable está disponible en <a
                        href="https://www.youtube.com/watch?v=yWuu4JQaxek">Enlace</a>.
                </video>
            </div>
        </div>
    </div>
</div>
</div>