<div class="container text-center">
  <h1>Carreras</h1>

  <p id="randomSentence"></p>
  <div class="row">

    {{#each runsApi}}

    {{>runCard this}}

    {{/each}}

    {{#each runsDB }}

    {{>runCard this}}

    {{/each}}



  </div>
  <a class="text-center btn btn-primary" href="/home/new">Crea tu propia carrera.</a>
</div>

<script src="../../javascripts/random.js"></script>