body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/Sports.png');
}

.img-logotipo {

  margin: 50px 0;
}

.img-logotipo {
  height: 150px;
  width: 50%;
}

.row {

  .signup,
  .login {
    margin-bottom: 50px;

    .btn {
      width: 150px;
    }
  }
}

.col-md-12 {
  margin: 50px auto;

}

nav {
  position: fixed;
  background: linear-gradient(150deg, white, rgb(199, 198, 198), rgb(77, 77, 77), rgb(77, 77, 77), rgb(199, 198, 198), white);
  background-size: 400% 300%;
  animation: BgGradient 5s ease infinite;

  a {
    margin-right: 20px;
    color: blue;
    font-size: 1.2em;

    &:hover {
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.error-message {
  color: red;
}



@keyframes BgGradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



ul {
  list-style: upper-roman;
}

a:hover {
  text-decoration: none;
  color: rgb(68, 68, 170);
}

nav {
  margin-bottom: 50px;
}


h1 {
  margin: 50px;
  font-size: 5em;
  color: silver;
}

h2 {
  margin-bottom: 40px;
  color: chocolate;
  font-size: 3.5em;
  margin-left: 30px;
  margin-top: 30px;
}

.margin-top {
  margin-top: 35px;
}

p.text-center {
  color: crimson;
  font-size: 2.5em;
}

.names {
  font-size: 1.5em;
  color: blue;
}

li.margin-bottom {
  margin-bottom: 20px;
}

.names:hover {
  color: red;
}

h2.margin-left {
  margin-left: 50px;
}

h3 {
  font-size: 3.5em;
  color: blue;
  margin-bottom: 20px;
}

.text-center.margin-bottom {
  margin-bottom: 50px;
}

label {
  font-size: 2em;
  color: blue;
}

.red {
  color: red;
  text-decoration: underline
}

.red:hover {
  text-transform: uppercase;
  color: red;
  text-decoration: underline;
}

.green {
  color: green;
  text-decoration: underline;
}

.green:hover {
  text-transform: uppercase;
  color: green;
  text-decoration: underline;
}

.margin-top {
  margin-top: 100px;
  padding: 10px;
}