<h1 class="margin-top"> Bienvenido{{user.username}}</h1>


<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <img src="imagen" {{user.picture}}></img>
        </div>
        <div class="col-lg-7">
            <form action="/auth/profile" method="post" enctype="multipart/form-data">
                <input type="file" name="phototoupload"><br>
                <input type="submit" value="Save"><br>
            </form>
        </div>

    </div>





    <div class="container margin-top ">
        <div class="row ">
            <div class="col-lg-8">
                <H2>Estas son las carreras a las que estas apuntad@</H2>
            </div>
            <div class="col-lg-4">
                <h2>Gráfica de rendimiento anual</h2>
            </div>

        </div>
    </div>