<header class="navigation">
    <a href="/" class="scrollto">
        <img src="../images/BeSports.png" alt="Logotipo">
    </a>
    <nav>
        <ul>
            <li class="scrollto">
                <a href="/profile">Profile</a>
            </li>
        </ul>
    </nav>

</header>
<div class="background-index">

    <div class="container text-center justify-content-center">
        <div class="row ">
            <div class="col-md-12">
                <figure class="logotipo">
                    <img class="img-logotipo" src="../images/BeSports1.png" alt="Be Sports">
                </figure>
                <div class="signup">
                    <a href="/auth/signup">Regístrate</a>
                </div>
                <div class="login">
                    <p>¿Tienes una cuenta?</p>
                    <a href="/auth/login">Inicia Sesión</a>

                </div>
            </div>

        </div>
    </div>
</div>