<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<header class="navigation">
  <a href="/" class="scrollto">
    <img src="../images/BeSports.png" alt="Logotipo">
  </a>
  <nav>
    <ul>

      <li class="scrollto">
        <a href="/">Home</a>
      </li>
      <li class="scrollto">
        <a href="/auth/login">Login</a>
      </li>
      <li class="scrollto">
        <a href="/auth/signup">Signup</a>
      </li>
      <li class="scrollto">
        <a href="/auth/logout">Logout</a>
      </li>
      <li class="scrollto">
        <a href="/profile">Profile</a>
      </li>
      <li class="scrollto">
        <a href="/home">Runs</a>
      </li>
      <li class="scrollto">
        <a href="/sportcenter">sportcenter</a>
      </li>
    </ul>
  </nav>

</header>

<body>

  {{{body}}}

  <script src="../javascripts/styles.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/APIHandler.js"></script>
  <script src="/javascripts/script.js"></script>

</body>

</html>