<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
  <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>


  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/">BeSports</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/">Home</a>
        </li>
        <li class="nav-item">
          <a href="/auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a href="/auth/signup">Signup</a>
        </li>
        <li class="nav-item">
          <a href="/auth/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a href="/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a href="/home">-Runs</a>
        </li>
        <li class="nav-item">
          <a href="/sportcenter">sportcenter</a>
        </li>
      </ul>
    </div>
  </nav>

  {{{body}}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/APIHandler.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBancBtCcafevTj5FOO1cX3Q4vLAJxStbw"></script>
  <script src="/javascripts/show-map.js"></script>
  <script src="/javascripts/script.js"></script>

</body>

</html>