<div class="back-error">

  <p class="errorHTTP">HTTP: <span>404</span></p>
  <code><span>No se ha encontrado</span>.<em>esta pagina</em> = true;</code>
  <code><span>if</span> (<b>la has escrito mal</b>) {<span>vuelvelo a intentar()</span>;}</code>
  <code><span>else if (<b>la he liado parda yo</b>)</span> {<em>alert</em>(<i>"Yo invito a las cerves de hoy."</i>); <span>window</span>.<em>location</em> = home;}</code>
  <center><a class="a-error" href="/">HOME</a></center>

</div>

<script src="../javascripts/back-error.js"></script>