<h1 class="margin-top"> Bienvenido {{user.username}}</h1>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{user.profilePicture.path}}"></img>
            <form action="/profile" method="post" enctype="multipart/form-data">
                <input type="file" name="phototoupload"><br>
                <input type="submit" value="Save"><br>
            </form>
        </div>


    </div>

    <div class="container margin-top ">
        <div class="row ">
            <div class="col-lg-8">
                <H2>Estas son las carreras a las que estas apuntad@</H2>
            </div>
            <div class="col-lg-4">
                <h2>Gráfica de rendimiento anual</h2>
            </div>

        </div>
    </div>

    <h2>¿Quieres prepararte para conseguir mejores resultados?</h2>
    <a class="boton" href="https://www.123acorrer.es/Running/entrenamientos/10k-acabar-la-carrera">PREPRARATE PARA
        10KM</a>