body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
}

.img-logotipo {
  height: 150px;
  width: 50%;
  margin: 65px 0;
  animation: latidos 0.9s ease-in-out infinite;
}

.row {

  .signup,
  .login {
    margin-bottom: 50px;

    .btn {
      width: 150px;
    }
  }
}

.col-md-12 {
  margin: 50px auto;
}




h1 {
  margin-bottom: 40px;
  color: chocolate;
  font-size: 4em;
  margin-left: 30px;
  padding-top: 100px;
}

h2 {
  margin-bottom: 20px;
  color: chocolate;
  font-size: 2.5em;
  margin-left: 30px;
  padding-top: 100px;

}

h3 {
  font-size: 1.9em;
  color: blue;
  padding-top: 20px;
}



h4 {
  color: blue;
}

label {
  font-size: 2em;
  color: blue;
}

/*NAV*/

.navigation {
  border-bottom: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
  transition: all .3s;

  img {
    height: 35px;
    margin: 5px 20px;
  }

  ul {
    text-decoration: none;
    margin: 0 10px 0 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;

    a {
      padding: 10px 5px;
      display: block;
      color: inherit;
    }
  }
}

.navigation.sticky {
  padding: 0;
  background: white;
}

.card {
  height: auto;
  margin: 20px 0;
  padding: 10px;
  transition: 0.4s all ease-in;
  background: rgb(100, 98, 98);
  box-shadow: 0px 8px 4px 0px rgb(21, 22, 22);

  &:hover {
    background: rgb(128, 126, 126);
    box-shadow: 0px 10px 7px 0px rgb(21, 22, 22);
    transform: translateY(-8px);
  }

  .info-card {
    color: black;
    font-size: 0.8em;
  }

  a {
    color: rgb(22, 115, 177);

    &:hover {
      text-decoration: none;
      text-transform: uppercase;
    }

  }

  li {
    list-style: upper-roman;
  }

}

/*RAFA*/

.boton {
  font-size: 20px;
  text-decoration: none;
  height: 5px;
  width: 20px;
  margin-left: 40px;

  color: rgb(22, 165, 209);
  border-radius: 3px;

}

.boton:hover {
  font-size: 25px;
  color: whitesmoke;
  text-decoration: none;
  border: medium;
}

figure {
  left: 100px;
}

.favorite {
  font-size: 12px;
}

#lista5 {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}

#lista5 ol {
  margin: 0 0 0 2em;
}

#lista5 {
  list-style-type: none;
  list-style-type: decimal;

  margin: 0;
  margin-left: 1em;
  padding: 0;

  counter-reset: li-counter;
}

#lista5>li {
  position: relative;
  margin-bottom: 1.5em;
  padding: 1.5em;
  background-color: #eaeaea;
}

#lista5>li:before {
  position: absolute;
  top: -0.3em;
  left: -0.5em;
  width: 1.8em;
  height: 1.2em;

  font-size: 2em;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  color: #464646;
  background-color: #d0d0d0;


  transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  z-index: 99;
  overflow: hidden;

  content: counter(li-counter);
  counter-increment: li-counter;
  height: 400px;
}

.favorite {
  font-size: 12px;
}

///////lista profile
#lista5 {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(22, 22, 22, 0.5);

}


#lista5 {
  list-style-type: none;
  list-style-type: decimal;
  margin: 0;
  margin-left: 1em;
  padding: 0;
  counter-reset: li-counter;
}

#lista5>li {
  position: relative;
  margin-bottom: 1.5em;
  padding: 1.5em;
  background-color: #141313;
}

#lista5>li:before {
  position: absolute;
  top: -0.3em;
  left: -0.5em;
  width: 1.8em;
  height: 1.2em;

  font-size: 2em;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  color: rgb(22, 165, 209);
  background-color: #030202;

  transform: rotate(-20deg);

  z-index: 99;
  overflow: hidden;

  content: counter(li-counter);
  counter-increment: li-counter;
}

/////DISEÑO PROFILE
.h2-profile {

  color: rgb(22, 165, 209);
}

.h1-profile {
  margin-bottom: 40px;
  color: rgb(22, 165, 209);
  font-size: 5em;
  margin-left: 30px;
  margin-top: 30px;
}

.margin-top {
  margin-top: 35px;

}

.margin-toptop {
  margin-top: 75px;

}

.margin-bottom {
  margin-bottom: 50px;
}

.profile-back {
  background-color: rgba(160, 160, 160, 0.609);
}

.profile-boton {

  margin-top: 5px;
}

/*RAFA END*/

/* Underline From Center */
.underline {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(20, 88, 119);
    height: 4px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
}

.underline:hover:before,
.underline:focus:before,
.underline:active:before {
  left: 0;
  right: 0;
}

/*Random Sentence*/
#randomSentence {
  color: #efb810;
  font-size: medium;
  margin-bottom: 30px;
  font-style: italic;

  &:hover {
    text-decoration: underline;
  }
}

/* Button up  */
#buttonUp {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: grey;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;

  &:hover {
    background-color: rgb(255, 255, 255);
  }

  .up {
    width: 20px;
    height: 20px;
  }
}

/*Map Styles*/
#placesMap {
  width: 80%;
  height: 400px;
  margin: 20px 0;
  border: 1px solid grey;

  transition: all 1s ease-in-out;

  &:hover {
    border: 1px solid yellow;
    transform: scale(1.1);
  }
}

.titleMap {
  color: blue;
  font-size: 1.5em;
}

/*Error*/
.error-message {
  color: red;
}


/*Partial*/
.card {
  height: auto;
  margin: 20px 0;
  padding: 10px;
  transition: 0.4s all ease-in;

  &:hover {
    background: rgba(156, 71, 135, 0.486);
    box-shadow: 0px 8px 4px 0px rgba(79, 31, 79, 1);
    transform: translateY(-8px);
  }

  .info-card {
    color: black;
    font-size: 0.8em;
  }

  a {
    color: purple;

    &:hover {
      text-decoration: none;
      text-transform: uppercase;
    }

  }

  li {
    list-style: upper-roman;
  }

}

/*NAV*/

.navigation {
  color: white;
  border-bottom: 1px solid rgb(230, 230, 230);
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 999;
  transition: all .3s;

  img {
    height: 35px;
    margin: 5px 20px;
  }

  ul {
    text-decoration: none;
    margin: 0 10px 0 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;

    a {
      padding: 10px 5px;
      display: block;
      color: inherit;
    }
  }
}

.navigation.sticky {
  padding: 0;
  background: white;
  color: rgb(82, 82, 82);
}

.navigation img {
  height: 35px;
  margin: 5px 25px;
}

///////lista profile
#lista5 {
  counter-reset: li;
  list-style: none;
  *list-style: decimal;
  font: 15px 'trebuchet MS', 'lucida sans';
  padding: 0;
  margin-bottom: 4em;
  text-shadow: 0 1px 0 rgba(22, 22, 22, 0.5);

  .navigation ul {
    text-decoration: none;
    margin: 0 10px 0 0;
  }

  .navigation li {
    display: inline-block;
    margin: 0 10px;
  }

  .navigation li a {
    padding: 10px 5px;
    display: block;
    color: inherit;
  }

  /*Backgrounds*/
  .background-index {
    background-color: blue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;

    a {
      width: 100%;
      height: 48px;
      padding: 10px 40px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 700;
      font-size: 15px;
      color: #fff;
      text-align: center;
      background-color: #313787;
      border: 1px #313787 solid;
      opacity: 1;
      cursor: pointer;
      text-transform: uppercase;
      text-decoration: none;
      transition: all .5s ease-in;

      &:hover {
        background-color: #40a5df;
        border: 1px #40a5df solid;
        border-radius: 20%;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .background {
    background: rgba(30, 29, 31, 1);
    background: linear-gradient(135deg, rgba(30, 29, 31, 1) 0%, rgb(64, 159, 223) 100%);
    height: 100vh;

    h2,
    h3 {
      font-size: 16px;
      letter-spacing: -1px;
      line-height: 20px;
    }

    h2 {
      color: #747474;
      text-align: center;
    }

    h3 {
      color: #032942;
      text-align: right;
    }

    .i {
      width: 20px;
      height: 20px;
    }

    .i-login {
      margin: 13px 0px 0px 15px;
      position: relative;
      float: left;
      background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjY0cHgiIGhlaWdodD0iNjRweCIgdmlld0JveD0iMCAwIDQxNi4yMjkgNDE2LjIyOSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDE2LjIyOSA0MTYuMjI5OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxnPgoJPGc+CgkJPHBhdGggZD0iTTQwMy43MjksMjkuNjVINzEuODAyYy02LjkwMywwLTEyLjUsNS41OTctMTIuNSwxMi41djg2LjM2M2MwLDYuOTAzLDUuNTk3LDEyLjUsMTIuNSwxMi41czEyLjUtNS41OTcsMTIuNS0xMi41VjU0LjY1ICAgIGgzMDYuOTI3djMwNi45MjhIODQuMzAydi03My44NjFjMC02LjkwMy01LjU5Ny0xMi41LTEyLjUtMTIuNXMtMTIuNSw1LjU5Ny0xMi41LDEyLjV2ODYuMzYxYzAsNi45MDMsNS41OTcsMTIuNSwxMi41LDEyLjUgICAgaDMzMS45MjdjNi45MDIsMCwxMi41LTUuNTk3LDEyLjUtMTIuNVY0Mi4xNUM0MTYuMjI5LDM1LjI0Nyw0MTAuNjMxLDI5LjY1LDQwMy43MjksMjkuNjV6IiBmaWxsPSIjODczMTRlIi8+CgkJPHBhdGggZD0iTTE4NS40MTcsMjg3LjgxMWMwLDUuMDU3LDMuMDQ1LDkuNjEzLDcuNzE2LDExLjU1YzEuNTQ3LDAuNjQyLDMuMTcsMC45NSw0Ljc4MSwwLjk1YzMuMjUzLDAsNi40NTEtMS4yNyw4Ljg0Mi0zLjY2ICAgIGw3OS42OTctNzkuNjk3YzIuMzQ0LTIuMzQ0LDMuNjYtNS41MjMsMy42Ni04LjgzOWMwLTMuMzE2LTEuMzE2LTYuNDk1LTMuNjYtOC44MzlsLTc5LjY5Ny03OS42OTcgICAgYy0zLjU3NS0zLjU3NS04Ljk1MS00LjY0Ni0xMy42MjMtMi43MWMtNC42NzEsMS45MzYtNy43MTYsNi40OTMtNy43MTYsMTEuNTQ5djY3LjE5N0gxMi41Yy02LjkwMywwLTEyLjUsNS41OTctMTIuNSwxMi41ICAgIGMwLDYuOTAzLDUuNTk3LDEyLjUsMTIuNSwxMi41aDE3Mi45MTdWMjg3LjgxMUwxODUuNDE3LDI4Ny44MTF6IE0yMTAuNDE3LDE1OC41OTRsNDkuNTIxLDQ5LjUybC00OS41MjEsNDkuNTIxVjE1OC41OTR6IiBmaWxsPSIjODczMTRlIi8+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: center;
    }


    .box {
      width: 330px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .box-form {
      width: 320px;
      position: relative;
      z-index: 1;
    }

    .box-login-tab {
      width: 50%;
      height: 40px;
      background: #fdfdfd;
      position: relative;
      float: left;
      z-index: 1;

      border-radius: 6px 6px 0 0;

      transform: perspective(5px) rotateX(0.93deg) translateZ(-1px);
      transform-origin: 0 0;
      backface-visibility: hidden;

      box-shadow: 15px -15px 30px rgba(0, 0, 0, 0.32);
    }

    .box-login-title {
      width: 35%;
      height: 40px;
      position: absolute;
      float: left;
      z-index: 2;
    }

    .box-login {
      position: relative;
      top: -4px;
      width: 320px;
      background: #fdfdfd;
      text-align: center;
      overflow: hidden;
      z-index: 2;

      border-top-right-radius: 6px;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;


      box-shadow: 15px 30px 30px rgba(0, 0, 0, 0.32);
    }

    button:focus {
      outline: 0;
    }



    .fieldset-body p {
      width: 100%;
      display: inline-table;
      padding: 5px 20px;
      margin-bottom: 2px;
    }

    label {
      float: left;
      width: 100%;
      top: 0px;
      color: #032942;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      line-height: 1.5;
    }

    input[type=text],
    input[type=password],
    input[type=email] {
      width: 100%;
      height: 32px;
      padding: 0px 10px;
      background-color: rgba(0, 0, 0, 0.03);
      border: none;
      display: inline;
      color: #303030;
      font-size: 16px;
      font-weight: 400;
      box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.05), 1px 1px 0px rgba(255, 255, 255, 1);

      &:focus {
        background-color: #f5f5d4;
        outline: none;
      }
    }

    input[type=submit] {
      width: 100%;
      height: 48px;
      margin-top: 24px;
      padding: 0px 20px;
      font-family: 'Quicksand', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
      line-height: 40px;
      text-align: center;
      background-color: #313787;
      border: 1px #313787 solid;
      opacity: 1;
      cursor: pointer;
      transition: all .5s ease-in;

      &:hover {
        background-color: #40a5df;
        border: 1px #40a5df solid;
      }

      &:focus {
        outline: none;

      }
    }

    p.field span.i {
      width: 24px;
      height: 24px;
      float: right;
      position: relative;
      margin-top: -26px;
      right: 2px;
      z-index: 2;
      display: none;

    }
  }

  body:before,
  body:after {
    content: '';
    background: rgba(64, 51, 173, 0.514);
    position: fixed;
    z-index: 100;
    height: 3px;
  }

  body:before {
    width: 50%;
    bottom: 0;
    right: 0;
  }

  body:after {
    width: 50%;
    left: 0;
    top: 0;
  }

  // Back error
  .back-error {
    background: linear-gradient(135deg, rgba(30, 29, 31, 1) 0%, rgb(64, 159, 223) 100%);
    overflow: hidden;
    height: 100vh;

  }

  .errorHTTP {
    font-family: "Bevan", cursive;
    font-size: 130px;
    margin: 10vh 0 0;
    text-align: center;
    letter-spacing: 5px;
    background-color: black;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;

    span {
      font-size: 1.2em;
    }
  }

  #lista5 {
    list-style-type: none;
    list-style-type: decimal;
    margin: 0;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
  }

  #lista5>li {
    position: relative;
    margin-bottom: 1.5em;
    padding: 1.5em;
    background-color: #141313;
  }

  #lista5>li:before {
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;

    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: rgb(22, 165, 209);
    background-color: #030202;

    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;

    content: counter(li-counter);
    counter-increment: li-counter;
  }

  /////DISEÑO PROFILE
  .h2-profile {
    text-align: center;
    color: rgb(16, 17, 17);
    font-size: 300;
  }

  .h1-profile {
    margin-bottom: 40px;
    color: rgb(22, 165, 209);
    font-size: 5em;
    margin-left: 30px;
    margin-top: 30px;
  }

  .margin-top {
    margin-top: 35px;

  }

  .margin-toptop {
    margin-top: 75px;

  }

  .margin-bottom {
    margin-bottom: 50px;
  }

  .profile-back {
    background-color: linear-gradient(135deg, rgba(30, 29, 31, 1) 0%, rgb(64, 159, 223) 100%);
  }

  .profile-boton {

    margin-top: 5px;


  }

  code {
    color: #bdbdbd;
    text-align: center;
    display: block;
    font-size: 16px;
    margin: 0 30px 25px;

    span {
      color: #f0c674;
    }

    i {
      color: #b5bd68;
    }

    em {
      color: #b294bb;
      font-style: unset;
    }

    b {
      color: #81a2be;
      font-weight: 500;
    }
  }

  .a-error {
    color: #8abeb7;
    font-family: monospace;
    font-size: 20px;
    text-decoration: underline;
    margin-top: 10px;
    display: inline-block
  }



  .inputprofile {
    border: 0;
    background-color: rgba($color: #000000, $alpha: 0.0);
    outline: none;
  }

  .laberprofile {
    color: black;
    font-size: 30px;

  }

  .h3-profile {
    font-size: 25px;
  }

  .back-color {
    background: linear-gradient(135deg, rgba(30, 29, 31, 1) 0%, rgb(64, 159, 223) 100%)
  }

  input {
    opacity: 0.8;
  }

  label {
    font-size: 1.3em;
    color: #4646e2;

  }

  form {
    width: 50%;
    margin: 0 auto;
  }

  .aux-mes {
    margin-top: 10px;
    color: rgb(78, 78, 78);
    font-size: 1.2em;

    span {
      background-color: #ffffff94;
      border-radius: 10%;
    }

    a {
      text-decoration: none;

      &:hover {
        color: green;
      }
    }
  }

  //End login and sign in

  // polideportivos
  .background-center {
    background: linear-gradient(135deg, rgba(30, 29, 31, 1) 0%, rgb(64, 159, 223) 100%);
    color: white;

    .h1-centers {
      padding-top: 90px;
      margin-left: 40px;
      font-size: 4em;
      margin-bottom: 40px;
    }

    .h2-centers {
      margin-right: 40px;
      font-size: 2.5em;
    }

    .toggle {
      color: white;
      margin-top: 15px;

      &:hover {
        cursor: pointer;
        color: green;
        text-transform: uppercase;
      }
    }

    p {
      color: black;
      line-height: 20px;
    }

    h3 {
      font-size: 2em;
      color: black;
    }
  }

  .flex {
    display: flex;
  }

  /*Transitions */
  @keyframes BgGradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes latidos {
    from {
      transform: none;
    }

    30% {
      transform: scale(1.4);
    }

    60% {
      transform: scale(1.4);

    }


    to {
      transform: none;
    }
  }
}

h1 {
  color: blue;

  h2 {
    color: red;
  }
}