<div class="back-color">
  <div class="container text-center ">
    <h1 class="underline margin-top h1-profile h2-profile">Carreras</h1>

    <p id="randomSentence"></p>
    <div class="row">

      {{#each runsApi}}

      {{>runCard2 this}}

      {{/each}}

      {{#each runsDB }}

      {{>runCard2 this}}

      {{/each}}

    </div>
    <a class="text-center btn btn-primary" href="/home/new">Crea tu propia carrera.</a>
  </div>
</div>
<script src="../../javascripts/random.js"></script>