<h1>heeeeey</h1>


<figure id="placesMap"></figure>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/map.configs.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{secret}}&callback=initMap"></script>