<h1></h1>
<div class="container text-center justify-content-center">
    <div class="row ">
        <div class="col-md-12">
            <figure class="logotipo">
                <img class="img-logotipo" src="../images/Be-Sports.png" alt="Be Sports">
            </figure>
            <div class="signup">
                <a class="btn btn-primary" href="/signup">Regístrate</a>
            </div>
            <div class="login">
                <p>¿Tienes una cuenta?</p>
                <a class="btn btn-primary" href="/login">Inicia Sesión</a>

            </div>
        </div>

    </div>
</div>