<h1>Bienvenido {{name}}</h1>
{{!-- a continuacion de la bienvenida podmos poner una foto que este subida a su perfil o directamente una foto de perfil cobn un copia y pega de los documentos de German --}}
<p>Estas son las carreras a las que estas apuntad@</p>
{{!-- para mostrar la carrera podemos usar lo de cards o buscar otro tipo de formato, seguro que hay pags en las que ya te hacen el codigo. --}}
<h2>Gráfica de rendimiento anual</h2>
{{!-- grafica en la que se le va sumando las carreras a las que se ha apuntado o si podemos sacar del a api la informacuion de los km --}}