<h1>Hola {{username}},</h1>

<p>Te damos la bienvenida a BeSports</p>

<p>Es hora de tomar las riendas de tus metas deportivas. <br>
  Con BeSports tendrás la posibilidad de manejarlas inteligentemente,<br>
  no más escusas. ¡Entra ahora mismo! </p>
<p>
  Tu usuario es: {{username}}
</p>
<p>
  Contacto: <a href="#">emailprueba@gmail.com</a>
</p>
<p>Saludos,</p>

<p>Equipo BeSports, es decir Andresito el machote ua ua</p>